<!-- reload button  -->
<button (click)="articlesService.get()">Reload</button>

<!-- A structural directive that conditionally includes a template based on the value of an expression coerced to Boolean. When the expression evaluates to true, Angular renders the template provided in a then clause, and when false or null, Angular renders the template provided in an optional else clause. The default template for the else clause is blank. -->
<!-- define loading and loaded element -->
<div *ngIf="articlesService.loading">Loading</div>
<ul *ngIf="articlesService.loaded">
    <li>
        <app-article-details [arrtt]="arrtt"></app-article-details>
    </li>
</ul>