<!-- -->
<!-- ng nerate --help we can use ng g to create componenet-->
<h1>{{title}}</h1>
<!-- onclick() binding on that button-->
<button (click)="onToggleContacts()">Toggle Contacts</button>
<!-- more dynamic data,ngif ngfor , use === beacuse javascript-->
<div *ngIf="showContacts === true">
    <!-- * star for built in directive case sensitive, the compoent able to change the order for -->
    <ul>
        <!-- make it work with ngfor, do need follow the syntax, let keyword in javascript variable defination-->
        <!-- looping contact in contacts ,like for each loop, collectioin -->
        
            <!--<app-contact name="{{contacts}}"></app-contact>  this will output all the element in array together which is not good, -->
            <!--pass in contact instade name, bind the variable and pass the variable class of contact pass into it -->
            <!--until now all the content will showing  -->
            <app-contact *ngFor="let contact of contacts" [contact]="contact"></app-contact>
        

    </ul>
    
    <!-- pass in date with name,but name been used twice need define the name as property,{name}-->
    <!--d<app-contact name="Lachlan"></app-contact> use above variable-->
    
</div>
<!--<h3>{{total}}</h3> -->
<!-- with the title variable there can use input to pass the data in-->
<!-- app-contact there are independent and isolated-->
<!-- <app-counter title="Bob" (counted)="onCounted($event)"></app-counter>-->
<!-- <app-counter title="Ums and Ahhs" (counted)="onCounted($event)"></app-counter>-->
<!-- <app-counter title="Crashes" (counted)="onCounted($event)"></app-counter>-->
<!-- <app-counter (counted)="onCounted($event)"></app-counter>-->
<!-- what ever the app counter is counted go ahead and do sth with that values, -->