<h1>{{title}}</h1>

<div class="linkDiv">
  <!-- the routerlink for quick navigate to each component -->
  <a routerLink="/Articles">Articles</a> | <a routerLink="/Account LogIn"></a>
</div>

<div>
  <!-- display all component -->
  <router-outlet></router-outlet>
</div>

<!-- define click event and each method asigned to-->
<!-- login? -->
<button (click)="articlesService.get()">Get</button>
<button (click)="create()">Create</button>
<button (click)="createUser()">Create User</button>

<!-- loading loaded -->
<div *ngIf="articlesService.loading">Loading...</div>
<!-- <ul *ngIf="articlesService.loaded"> -->
<ul *ngIf="!articlesService.loading">
    <li *ngFor="let acrt of articlesService.article">
        <small>{{acrt.title}}</small>{{acrt.title}}
    </li>
</ul>