<!-- ng new to create angular project  -->
<!-- remember to submit before contiures -->
<!-- run ng serve before delete the dealute code in html -->
<!-- keep most of html in servies -->
<!-- need create mutiple componeent for the project this only for quick demo so everything compalied together -->



<h1>{{title}}</h1>

<button (click)="performLogin()">Login</button>

<hr>



<button (click)="articlesService.get()">Get</button>

<br>

<button (click)="create()">Create</button>

<div *ngIf="articlesService.loading">Loading...</div>
<!-- <ul *ngIf="articlesService.loaded"> -->
<ul *ngIf="!articlesService.loading">
    <li *ngFor="let acrt of articlesService.articles">
        <small>{{acrt.title}}</small>{{acrt.title}}
    </li>
</ul>