<!-- ng new to create angular project  -->
<!-- remember to submit before contiures -->
<!-- run ng serve before delete the dealute code in html -->
<!-- keep most of html in servies -->



<h1>{{title}}</h1>

<button (click)="articlesService.get()">Login</button>
<div *ngIf="articlesService.loading">Loading...</div>
<!-- <ul *ngIf="articlesService.loaded"> -->
<ul *ngIf="!articlesService.loading">
    <li *ngFor="let acrt of articlesService.articles">
        <small>{{acrt.title}}</small>{{acrt.title}}
    </li>
</ul>