<!-- game interface -->
<div class="gameName">
    <p>Rock, Paper, Scissors : Choose your option</p>
</div>
<!-- game panel -->
<div class="rpsBox">
    <div class="flex box">
        <!-- define selecetion div and click event -->
        <!-- click event and selectoption is new stuff (method) in the () is the option you defined in method-->
        <!-- ng class The CSS classes are updated as follows, depending on the type of the expression evaluation: string array object-->
        <div class="rock box" [ngClass]="{'selected': 'rockSelected'}" (click)="optionClicked('rock')"></div>
        <div class="paper box" [ngClass]="{'selected': 'paperSelected'}" (click)="optionClicked('paper')"></div>
        <div class="scissors box" [ngClass]="{'selected': 'scissorsSelected'}" (click)="optionClicked('scissors')"></div>        
    </div>
    <!-- null option click to call method -->
    <button class="btn" (click)="buttonClicked()">Test</button>
</div>
