.list-box {
    background-color: purple;
    display:inline-block;
    font-size: 0;/*hide the whitespace between the two div*/
}

.date-box {
    display:inline-block;
    width:30%;
    font-size: 16px;
    text-align: center;
}

.list-box .desc {
    display:inline-block;
    width:70%;
    font-size: 16px;
}