<!-- -->
<!-- ctrl + ` (for terminal) the title variable by using syntax -->
<h1>{{title}}</h1>

<h2>Counter: {{counter}}</h2>

<p>Lorem ipsum dolor sit amet consectetur{{counter}} adipisicing elit. Repellendus, mollitia aperiam ipsam doloribus sequi non, maiores officia modi voluptates aliquam laboriosam rerum ipsa ea ad pariatur eum cupiditate doloremque quis.</p>

<!-- instatad of using id hree is other way, click and (click) are differenet , onclick="" more javascript-->
<!-- access the method hrere when the button is clicked go ahead and run the method-->
<!-- using the angular language service and ctrl and click on that it will jump thourgh , same with method-->
<button (click)="onCoolButtonClick()" >Click Me. I"m cool and add stuff.</button>
<!--put method between "" or anyother javascript -->

<!--angular good for big project, if building some super small file javascript is what to use -->