<!-- <p>colour-display works!</p> -->

<!-- double brackets is for showing the variable -->
<!-- as we see here the colourservice is the place store data the public variable is for here to use out of the class -->
<!-- the selection the variable that stored the result or data we choosed from colour picker component -->
<h1>{{colourService.selection}}</h1>

<!-- the page will turn blank from now beacuse the service refresh when we saved and the selection dont have any data stroed -->

<!-- create a link for going back to colour picker -->
<a routerLink="pick">Vote Again...</a>